<a href="https://colab.research.google.com/github/Olya-Shulga/Univercity/blob/main/Tasks/%D0%94%D0%9F%D0%9E_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_1_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *[Шульга Ольга Петровна]*

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [1]:
print("Добро пожаловать в мир Python!")

Добро пожаловать в мир Python!

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [2]:
print(15+27)

42

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [3]:
name_student = "Ольга"
print(name_student)

Ольга

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [4]:
print("Приветики!\n\nЯ у мамы программист\n\n:)")

Приветики!

Я у мамы программист

:)

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [5]:
print(f"7 + 7 = {7+7}")

7 + 7 = 14

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [7]:
number_a = int(input("Введите первое число:"))
number_b = int(input("Введите второе число:"))
number_c = int(input("Введите третье число:"))

result = number_a*number_b*number_c

print(f"Результат произведения ваших чисел {number_a}, {number_b} и {number_c} равняется: {result}")

Введите первое число:3
Введите второе число:4
Введите третье число:9
Результат произведения ваших чисел 3, 4 и 9 равняется: 108

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [14]:
full_name = input("Введите своё ФИО:")

#Метод .strip() на случай лишних пробелов в начале и конце строки
last_name = full_name.strip().split(' ')[0]   #Фамилия
first_name = full_name.strip().split(' ')[1]  #Имя
patronymic = full_name.strip().split(' ')[2]  #Отчество

print(f"Ваша фамилия и инициалы: {last_name} {first_name[0]}.{patronymic[0]}.")

Введите своё ФИО:Шульга Ольга Петровна
Ваша фамилия и инициалы: Шульга О.П.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [66]:
user_string = input("Введите свою строку: ")
user_symbol = input("Введите символ, который хотите посчитать в строке: ")

count = user_string.count(user_symbol)

print(f"Ваш символ '{user_symbol}' встречается в вашей строке: {count} раз.")

Введите свою строку: ujjjjj
Введите символ, который хотите посчитать в строке: u
Ваш символ 'u' встречается в вашей строке: 1 раз.

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [8]:
user_color = input("Введите ваш люмый цвет: ")

print(f"[{user_color.capitalize()}] - красивый цвет!")

Введите ваш люмый цвет: Синий
[Синий] - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [10]:
user_str_for_len = input("Введите строку: ")

print(f"Длин вашей строки {len(user_str_for_len)} символов.")

Введите строку: трах тибидох
Длин вашей строки 12 символов.

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [11]:
number = 42
print(number)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [15]:
result = int((17 * 3) + (10 / 2))

print (result)

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [16]:
number_str = "100"

print(int(number_str)+25)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [17]:
seven_int = 7
seven_str = "7"

print(f"Тип переменной seven_int = {seven_int} - это {type(seven_int)}")
print(f"Тип переменной seven_str = {seven_str} - это {type(seven_str)}")

Тип переменной seven_int = 7 - это <class 'int'>
Тип переменной seven_str = 7 - это <class 'str'>

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [18]:
first_number = 6
second_number = 7

print(f"{first_number} - {second_number} = {first_number - second_number}")

6 - 7 = -1

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [20]:
number_float = float(input("Введите вещеситвенное число через точку: "))

print(f"Квадрат вашего числа {number_float} = {number_float**2}")

Введите вещеситвенное число через точку: 3.4
Квадрат вашего числа 3.4 = 11.559999999999999

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [21]:
number_float_2 = float(input("Введите вещеситвенное число через точку: "))

print(f"Округлите вашего числа до двух знаков после запятой: {round(number_float_2, 2)}")

Введите вещеситвенное число через точку: 3.145848483
Округлите вашего числа до двух знаков после запятой: 3.15

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [22]:
number_float_3 = 2.5
number_float_4 = 4.7

print(f"{number_float_3} + {number_float_4} = {number_float_3 + number_float_4}")

2.5 + 4.7 = 7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [24]:
degree_celsius = int(input("Введите градусы Цельсия: "))
degree_fahrenheit = degree_celsius * 9/5 + 32

print(f"{degree_celsius} градусов Цельсия - это {degree_fahrenheit} градусов Фаренгейта")

Введите градусы Цельсия: 26
26 градусов Цельсия - это 78.8 градусов Фаренгейта

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [26]:
length = int(input("Введите длинну прямоугольника: "))
width = int(input("Введите ширину прямоугольника: "))
square = length * width
perimeter = 2 * (length + width)

print(f"\nПлощадь прямоугольника: {square}\nПериметр прямоугольника: {perimeter}")

Введите длинну прямоугольника: 5
Введите ширину прямоугольника: 6

Площадь прямоугольника: 30
Периметр прямоугольника: 22

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [27]:
my_srt = "Python - самый популярный язык программирования"
print(my_srt)

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [28]:
hi_string = "Привет, мир!"
print(hi_string[0], hi_string[-1])

П !

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [30]:
str_1 = "МИИГАиК - "
str_2 = "Лучший "
str_3 = "ВУЗ!"
result_str = str_1 + str_2 + str_3

print(result_str)

МИИГАиК - Лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [31]:
str_4 = "12345"
number_str_4 = int(str_4)

print(type(number_str_4))

<class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [32]:
str_5 = "python is Fun"

print(str_5.upper())

PYTHON IS FUN

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [33]:
my_list = [10, 20, 30, 40, 50]
print(my_list)

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [34]:
my_list.append("новый элемент")
print(my_list)

[10, 20, 30, 40, 50, 'новый элемент']

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [35]:
my_list_2 = ['python', 'java', 'c++', 'ruby', 'perl']
print(my_list_2[1:4])

['java', 'c++', 'ruby']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [37]:
my_list_3 = []
my_list_3.append(1)
my_list_3.append("один")
my_list_3.append(1.0)

print(my_list_3)

[1, 'один', 1.0]

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [39]:
my_list_4 = [1, 2, 3, 4, 5]
my_list_4.insert(1, 200)
print(my_list_4)

[1, 200, 2, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [41]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [50]:
my_tuple.insert(0, 3)   # Это вызовет ошибку: AttributeError:'tuple' object has no attribute 'insert'

# Кортежи являются неизменяемыми структурами данных.
# Это значит, что после создания кортежа нельзя изменить его элементы,
# добавить новые или удалить существующие.

# У кортежей нет метода .insert(), потому что они не поддерживают изменение содержимого.

# Попытка изменить первый элемент напрямую:
my_tuple[0] = 10
# тоже приведёт к ошибке: TypeError: 'tuple' object does not support item assignment

# Вывод: кортежи нельзя модифицировать. Если нужно изменить последовательность,
# лучше использовать списки.

####3. Преобразуйте кортеж в строку и выведите результат.

In [43]:
my_tuple_str = str(my_tuple)
print(my_tuple_str, type(my_tuple_str))

(1, 2, 3, 4, 5) <class 'str'>

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [51]:
if 4 in my_tuple:
    print("Элемент 4 содержится в кортеже")
else:
    print("Элемент 4 не содержится в кортеже")

Элемент 4 содержится в кортеже

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [54]:
my_tuple_2 = (1, 1, 1, 1, 2, 3, 4)
print(f"Число 1 содержится {my_tuple_2.count(1)} раз(-а) в контеже {my_tuple_2}")

Число 1 содержится 4 раз(-а) в контеже (1, 1, 1, 1, 2, 3, 4)

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [55]:
my_dict = {
    "имя":"Оля",
    "возраст":25,
    "город":"Москва",
}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [57]:
print(my_dict["имя"])

Оля

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [60]:
my_dict.update({"профессия": "младший научный сотрудник"})
print(my_dict)

{'имя': 'Оля', 'возраст': 25, 'город': 'Москва', 'профессия': 'младший научный сотрудник'}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [61]:
my_dict.pop("город")
print(my_dict)

{'имя': 'Оля', 'возраст': 25, 'профессия': 'младший научный сотрудник'}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [63]:
new_dict = {}
key_from_user = input("Введите ключь для словаря: ")
value_from_user = input("Введите значение для ключа: ")
new_dict.update({key_from_user: value_from_user})

print(new_dict)

Введите ключь для словаря: имя животного
Введите значение для ключа: Мысшь
{'имя животного': 'Мысшь'}